@import url('https://fonts.googleapis.com/css2?family=Huninn&family=Suez+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  direction: rtl;
}
.suez-one-regular {
  font-family: "Suez One", serif;
  font-weight: 400;
  font-style: normal;
}

.huninn-regular {
  font-family: "Huninn", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* פונט רגיל */
.font-dm {
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* פונט כותרת */
.font-luckiest {
  font-family: 'Luckiest Guy', cursive;
  font-weight: 500;
  font-style: normal;
}

.leaflet-container img.leaflet-tile,
.leaflet-container img.leaflet-image-layer {
  max-width: none !important;
  max-height: none !important;
}
.leaflet-container img { max-width: none !important; }

.leaflet-container .leaflet-tile {
  width: 256px !important;
  height: 256px !important;
}

/* איפוס בסיסי */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* הגדרות בסיסיות של Tailwind */
@layer base {
  body {
    @apply bg-background text-foreground font-dm;
  }
}
